/* Código CSS */
body {
    background: #1c1b1a; /* Aquí se aplica el color de fondo al body */
}

.grid {
    display: grid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    height: 100vh; /* Esto establece la altura de la cuadrícula al 100% del viewport */
    place-items: center; /* Esto centra vertical y horizontalmente los elementos dentro de la cuadrícula */
}
