body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    color: #fff;
    background-color: #232323;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #444;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.sidebar-btn {
    width: 150px;
    padding: 10px;
    margin: 10px 0;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
}

.sidebar-btn:hover {
    background-color: #666;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
}

.custom-indigo {
    background-color: #6610f2;
    color: white;
    border-color: #6610f2;
    font-family: Arial, sans-serif;
}

.custom-indigo:hover {
    background-color: #4c00cb;
    border-color: #4c00cb;
}

.image-container {
    position: relative;
    margin-bottom: 20px;
}

.image-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f3e8c0;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
