body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #232323;
    font-family: Arial, sans-serif;
    color: #fff;
}
.custom-indigo {
    background-color: #6610f2;
    /* Otros estilos opcionales */
    color: white; /* Texto en color blanco para contrastar con el fondo */
    font-family: Arial, sans-serif;

    border-color: #6610f2; /* Color del borde */
}

/* Opcional: Cambiar el color del botón cuando se le pasa el mouse */
.custom-indigo:hover {
    background-color: #4c00cb; /* Color más oscuro al pasar el mouse */
    border-color: #4c00cb;
}
/* Estilos para el contenedor de imágenes */
.image-container {
    position: relative;
    margin-bottom: 20px; /* Espacio entre cada imagen */
}

/* Estilos para el contador */
.image-counter {
    position: absolute;
    top: 10px; /* Distancia desde arriba */
    left: 10px; /* Distancia desde la izquierda */
    background-color: #f3e8c0; /* Color crema */
    padding: 5px 10px; /* Padding interno */
    border-radius: 5px; /* Bordes redondeados */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    font-size: 14px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto */
}
