{% extends 'side.html' %}

{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
<style>
    .form-group {
        margin-bottom: 15px; /* Ajusta el espacio vertical entre los elementos del formulario */
    }
</style>
{% endblock %}

{% block content %}
<div class="ml-4 mr-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-5">
    <div class="flex items-center justify-center min-h-screen bg-gray-800 dark:bg-gray-800">
        <div class="bg-white dark:bg-gray-900 p-6 rounded shadow-md w-full max-w-md">
            <!-- Cuadro de Registro de Usuario -->
            <div class="mb-6">
                <h2 class="text-2xl font-bold mb-4 text-center text-gray-900 dark:text-gray-100">Registro de Usuario</h2>
                <form method="POST" class="space-y-4">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {% if form.username.help_text %}
                            <small class="text-gray-500 dark:text-gray-400">{{ form.username.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                        {% if form.password1.help_text %}
                            <small class="text-gray-500 dark:text-gray-400">{{ form.password1.help_text }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        {% if form.password2.help_text %}
                            <small class="text-gray-500 dark:text-gray-400">{{ form.password2.help_text }}</small>
                        {% endif %}
                    </div>
                    <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">
                        Registrar
                    </button>
                </form>
            </div>
    
            <!-- Mostrar mensajes -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message-success">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
    
            <!-- Cuadro de Cambio de Contraseña -->
            
        </div>
    </div>
    <div class="flex items-center justify-center min-h-screen bg-gray-800 dark:text-red-800">
        <div class="bg-white dark:bg-gray-900 p-6 rounded shadow-md w-full max-w-md">
            <h2 class="text-2xl font-bold mb-4 text-center text-gray-900 dark:text-gray-100">Cambiar Contraseña</h2>
            <form method="POST" class="space-y-4">
                {% csrf_token %}
                <div class="form-group">
                    {{ password_form.old_password.label_tag }}
                    {{ password_form.old_password }}
                </div>
                <div class="form-group">
                    {{ password_form.new_password1.label_tag }}
                    {{ password_form.new_password1 }}
                    {% if password_form.new_password1.help_text %}
                        <small class="text-gray-500 dark:text-gray-400">{{ password_form.new_password1.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ password_form.new_password2.label_tag }}
                    {{ password_form.new_password2 }}
                    {% if password_form.new_password2.help_text %}
                        <small class="text-gray-500 dark:text-gray-400">{{ password_form.new_password2.help_text }}</small>
                    {% endif %}
                </div>
                <button type="submit" class="w-full bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-700">
                    Guardar cambios
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/edit_profile.js' %}"></script>
{% endblock %}
