{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Gallipan</title>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-gray-500 container py-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {% for imagen in imagenes %}
            <div class="bg-white p-4 rounded shadow">
                <img src="{{ imagen.imagen.url }}" alt="Imagen" class="w-full h-auto object-cover">
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
