{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visor de Imágenes</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body class="bg-gray-700">
    <div class="bg-gray-700 w-full max-w-4xl mx-auto p-6  shadow-lg rounded">
        <div class="space-y-6">
            {% for imagen in imagenes %}
            <div class="relative w-full bg-gray-700 p-4">
                <img src="{{ imagen.imagen.url }}" alt="Imagen" class="w-full h-auto object-contain border border-gray-300 rounded">
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
