{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Código qr</title>
    <link rel="stylesheet" href="{% static 'css/codigo_qr.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    <div class="grid">
        <div class="qr-container">
            <img src="{% url 'qr_muelle_view' %}" alt="Código QR" class="qr-code">
        </div>
    </div>
</body>
</html>
