{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/muelle.ico' %}">
    <title>Gestión de imágenes Muelle Restaurante</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/gestion.css' %}">
</head>
<body class="bg-gray-900 text-white flex h-screen">
    <!-- Sidebar -->
    <div class="w-64 bg-gray-800 p-4 flex flex-col items-center">
        <a href="{% url 'inicio' %}" class="w-full bg-blue-500 text-white px-4 py-2 rounded m-2 hover:bg-blue-600">Inicio</a>
        <a href="{% url 'gestion-gallipan' %}" class="w-full bg-blue-500 text-white px-4 py-2 rounded m-2 hover:bg-blue-600">Gallipan</a>
        <a href="{% url 'gestion-muelle' %}" class="w-full bg-blue-500 text-white px-4 py-2 rounded m-2 hover:bg-blue-600">Muelle Restaurante</a>
        <a href="{% url 'logout' %}" class="w-full text-center bg-red-500 text-white px-4 py-2 rounded m-2 hover:bg-red-600">Cerrar sesión</a>
    </div>
    
    <!-- Main Content -->
    <div class="flex-grow p-6">
        <h1 class="text-center text-4xl mt-6">Gestión de imágenes Muelle Restaurante</h1>
        <div class="flex flex-wrap justify-center mt-4">
            {% for imagenMuelle in imagenesMuelle %}
            <div class="m-4 p-4 bg-gray-800 rounded-lg">
                <div class="text-center mb-2">{{ forloop.counter }}</div>
                <img src="{{ imagenMuelle.imagen_muelle.url }}" alt="Imagen" class="mb-2">
                <form action="{% url 'gestion-muelle' %}" method="POST" class="text-center">
                    {% csrf_token %}
                    <input type="hidden" name="delete_image_id" value="{{ imagenMuelle.id }}">
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Borrar</button>
                </form>
            </div>
            {% endfor %}
        </div>
        <form id="uploadFormMuelle" action="{% url 'gestion-muelle' %}" method="POST" enctype="multipart/form-data" class="text-center mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <input class="block w-full text-white bg-gray-700 border border-gray-600 rounded-lg cursor-pointer focus:outline-none" type="file" name="image" accept=".jpg, .jpeg, .png">
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Subir imagen</button>
        </form>
        <div class="mt-4 text-center">
            <a href="/menu-muelle" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ver Menu</a>
        </div>
        {% if messages %}
            <div class="mt-4 text-center">
                {% for message in messages %}
                    <div class="text-red-500">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
