{% extends 'side.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/menu_muelle.css' %}">
{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="flex-grow p-6">
    <h1 class="text-center text-4xl mt-6 text-gray-900 dark:text-white">Gestión de Imágenes {{card_obj.title}}</h1>

    <div class="flex flex-wrap justify-center mt-4 lg:grid-cols-1 gap-40">
        {% for imagen in imagenes %}
        <div class="m-4 p-4 bg-gray-200 dark:bg-gray-800 border border-black rounded-lg">
            <div class="text-center mb-2 text-gray-900 dark:text-white">{{ forloop.counter }}</div>
            <img src="{{ imagen.imagen_otroCard.url }}" alt="Imagen" class="mb-2">
            <div class="ml-4 mr-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-5">
                <div class="flex justify-center mb-2">
                    <!-- Botón de mover arriba -->
                    <form action="{% url 'otroCard' %}" method="POST" class="mr-2">
                        {% csrf_token %}
                        <input type="hidden" name="move_image_id" value="{{ imagen.id }}">
                        <input type="hidden" name="move_action" value="up">
                        <button type="submit" class="bg-blue-900 text-white px-5 py-4 rounded hover:bg-blue-600">
                            ↑
                        </button>
                    </form>
                    <!-- Botón de mover abajo -->
                    <form action="{% url 'otroCard' %}" method="POST" class="ml-2">
                        {% csrf_token %}
                        <input type="hidden" name="move_image_id" value="{{ imagen.id }}">
                        <input type="hidden" name="move_action" value="down">
                        <button type="submit" class="bg-blue-900 text-white px-5 py-4 rounded hover:bg-blue-600">
                            ↓
                        </button>
                    </form>
                </div>
                
                <form action="{% url 'otroCard' %}" method="POST" class="text-center">
                    {% csrf_token %}
                    <input type="hidden" name="delete_image_id" value="{{ imagen.id }}">
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Borrar</button>
                </form>
            </div>
            
        </div>
        {% endfor %}
    </div>
    
    <form id="uploadFormGallipan" action="{% url 'otroCard' %}" method="POST" enctype="multipart/form-data" class="text-center mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <input class="block w-full text-white bg-gray-700 border border-gray-600 rounded-lg cursor-pointer focus:outline-none" type="file" name="image" accept=".jpg, .jpeg, .png">
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Subir imagen</button>
    </form>
    
    <div class="mt-4 text-center">
        <a href="/menu-gallipan" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ver Menu</a>
    </div>
    
    {% if messages %}
        <div class="mt-4 text-center">
            {% for message in messages %}
                <div class="text-red-500">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
