{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/logo.ico' %}">
    
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/side.css' %}">

    {% block extra_css %}{% endblock %}

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block title %}Sidebar{% endblock %}</title>
    
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                </span>
                <div class="text logo-text">
                    <span class="name">ADMIN</span>
                    <span class="profession">Admin</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'inicio' %}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'menu-gallipan' %}">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">Gallipan</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'menu-muelle' %}">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">Muelle</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'edit_profile' %}">
                            <i class='bx bxs-cog bx-flip-vertical-alt-2 icon'></i>
                            <span class="text nav-text">Configuración</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{% url 'logout' %}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <section class="home">
        {% block content %}{% endblock %}
    </section>

    <!-- JavaScript -->
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav.sidebar'),
            toggle = body.querySelector(".toggle"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");

        // Verificar si el sidebar está extendido o no en localStorage
        const sidebarState = localStorage.getItem('sidebarState');
        if (sidebarState === 'extended') {
            sidebar.classList.remove('close');
        }

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
            // Guardar el estado del sidebar en localStorage
            if (sidebar.classList.contains("close")) {
                localStorage.setItem('sidebarState', 'closed');
            } else {
                localStorage.setItem('sidebarState', 'extended');
            }
        });

        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");
            if (body.classList.contains("dark")) {
                localStorage.setItem('darkMode', 'enabled');
                modeText.innerText = "Light mode";
            } else {
                localStorage.setItem('darkMode', 'disabled');
                modeText.innerText = "Dark mode";
            }
        });

        // Cambiar el modo de acuerdo al estado guardado en localStorage
        const currentMode = localStorage.getItem('darkMode');
        if (currentMode === 'enabled') {
            body.classList.add('dark');
            modeText.innerText = "Light mode";
        } else {
            modeText.innerText = "Dark mode";
        }
    });

    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>
