{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'css/style_file.css' %}">

</head>
<body>
    <div class="container">
        <div class="overlay">
            <a href="{% url 'gestion-de-imagenes' %}"><img src="{% static 'img/muelle.png' %}" alt="Logo 1"></a>
            <a href="{% url 'gestion-de-imagenes' %}"><img src="{% static 'img/galipan.png' %}" alt="Logo 2"></a>
            <!-- Agrega más logos según sea necesario -->
        </div>
    </div>
    
</body>
</html>
