{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <title>Subir imagen</title>
  </head>
  
  <body id="body-upload">
    <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h1 id="h1-upload">Subir imagen</h1>

      <div class="mb-3">
        <input class="form-control" type="file" id="formFile" name="image" accept=".jpg" >
      </div>

      <br>
      <button id="subor-imagen" type="submit" class="btn btn-light">Subir imagen</button>
      <a href="/gestion-de-imagenes"><button type="button" id="upload-button" class="btn btn-success">Ir a la gestión de imágenes</button></a>        
    </form>   
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>